* {
    font-family: Papyrus, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}

nav {
    top: 0;
    border-bottom: 10px solid red;
}

nav ul {
    text-align: right;
}

nav li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

h1 {
    padding-top: 100px;
    color: red;
}

h2 {
    text-decoration: underline;
}

main {
    padding: 50px;
    display: inline-block;
    margin: 0 auto;
}

form {
    background-color: skyblue;
    margin: 0px 0px 100px 0px;
}

pre {
    padding-top: 25px;
}

footer {
    bottom: 0;
    text-align: center;
    border-top: 10px solid red;
}

.bar {
    background-color: tomato;
    color: white;
    position: fixed;
    width: 100%;
}

.lyrics {
    text-align: left;
}